*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    font-size: 16px;
    background-color: white;
    color: black;
    

}
img{
    max-width: 100%;
    border-radius: 10px;
}
.container{
    max-width: 700px;
    margin: 40px auto;
    padding:  0px 30px;
    background-color: white;
    margin-top: 20px;
    border: 1px solid black;
    padding: 20px;
    border-radius: 10px;
    box-shadow: ;
    


}
.sect{
    background-color:hsl(47, 88%, 63%) ;
    padding: 40px;
}

.sect .container{
    display: flex;
    flex-direction: column;   
}
.learn{
    width: 70px;
    background-color:hsl(47, 88%, 63%) ;
    text-align: center;
    padding: 5px;
    margin-top: 30px;
    border-radius: 5px;
    font-weight: bold;
    
}
.set{
    line-height: 2;
}
.container .img{
    display: flex;
    align-items: center;
}
.img img{
    margin-right: 10px;
    
}
.img p{
    font-weight: bold;
}
h1{
    font-weight: bold;
}
.img{
    margin-top: 20px;
}